
#static{
    position: static;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
}
#relative{
    position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 200px;
    right: 20px;
}
#fixed{
    position: fixed;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    left: 400px;
    right: 20px;
}
#fixed1{
    position: fixed;
    top: 750px;
    left: 400px;
    margin-top: 3px;
}

#parent{
        position: absolute;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    
}
#absolute{
        position: absolute;
    border: 3px solid black;
    width: 200px;
    height: 200px;
    right:2px;
    top: 40px;
    background-color: seagreen;
    color:white;
}
#sticky
{
    position: sticky;
    top: 100px ;
   background-color: steelblue;
   padding: 20px;
   color: thistle;

}

