body{
    background-image: url("fotot/pexels-pixabay-531880.jpg");
    background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 100vh;
}
h1{
   color: violet;
    letter-spacing: 30px;
    word-spacing: 40px;
    margin-left: 20px;
}
p{
    color: rgb(97, 35, 197);
    text-indent: 50px;
text-align: left;
}
h3{
color: pink;
text-decoration: underline;
text-shadow: 2px 2px 4px red;
}
h2{
    color: antiquewhite;
    text-decoration: line-through;
}
h4{
    color:rgb(226, 226, 53);
    text-decoration: overline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.myelement{
    color: blue;
}
#myel{
    color:red;
}

