.container{
    display: flex;
    background: #add8e6;
    flex-direction: row;
    height: 300px;
    justify-content: flex-end;
    align-items: flex-end;
    /* flex-wrap: wrap;
    align-content: space-evenly; */
}
.container div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}
.container div:nth-child(2){
    order: 3;
}
.container div:nth-child(1){
    align-self: flex-start;
}

.container div:nth-child(3){
    height: 130px;
}